@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600&family=Comfortaa:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

.barlow {
    font-family: 'Barlow', sans-serif;
}
.comforta {
    font-family: 'Comfortaa', cursive;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #4C566A;
    margin: 0;
    padding: 0;

    // border-right: 2px solid #E5E9F0;
    // border-left: 2px solid #E5E9F0;
}

header {
    padding: 0em 5.625em;
    z-index: 100;
    position: fixed;
    width: 100%;
    // overflow: hidden;

    .nav-container {
        background-color: #E5E9F0;
        position: relative;
        // width: 100vw;
        // height: 100vh;
        
        
        .nav-holder_parent {
            background-color: #E5E9F0;
            z-index: 10;
            padding: 2em;
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // border-bottom: 2px solid #4C566A;
            width: 100%;

            .nav_logo {
                img {
                    height: 30px;
                }
            }

            .nav_btn {
                button {
                    border: 0;
                    background: none;
                    cursor: pointer;

                    .nav_btn-menu {
                        width: 2.25em;
                        height: 2.25em;
                        stroke: #4C566A;
                        stroke-width: 2px;
                    }
                }
            }
        }

        .nav-holder_child {
            z-index: 10;
            background-color: #E5E9F0;
            padding: 10em 2em 0em 2em;
            position: absolute;
            width: 100%;
            height: 100vh;
            top: -100vh;

            .nav_menus {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                .nav_menu a {
                    display: flex;
                    gap: 2em;
                    color: #4C566A;
                    text-decoration: none;

                    .nav_menu_no {
                        font-size: 3rem;
                    }
                    .nav_menu_txt {
                        font-size: 5rem;
                    }
                }

                .nav_menu:nth-child(1) {
                    order: 1;
                }
                .nav_menu:nth-child(2) {
                    order: 3;
                }
                .nav_menu:nth-child(3) {
                    order: 5;
                }
                .nav_menu:nth-child(4) {
                    order: 2;
                }
                .nav_menu:nth-child(5) {
                    order: 4;
                }
                .nav_menu:nth-child(6) {
                    order: 6;
                }
            }
        }
    }
}

.landing {
    z-index: 1;
    // background-color: red;
    // width: 100vw;
    padding: 0em 5.625em;

    .landing_container {
        border-right: 2px solid #E5E9F0;
        border-left: 2px solid #E5E9F0;
        height: 100vh;
        padding: 10em 0em 0em 0em;

        .landing-content_author {
            border-bottom: 2px solid #E5E9F0;
            padding: 7.5em 2em 5em 2em;

            .landing_author {
                display: flex;
                justify-content: space-between;
    
                p {
                    color: #E5E9F0;
                    font-size: 1.75rem;
                    font-weight: 700;
                }
            }
        }

        .landing_tagline {
            // border: 2px solid red;
            padding: 5em 0em 0em 0em;

            h1 {
                margin: 0;
                font-size: 12rem;
                font-weight: 300;
                text-align: center;
                color: #E5E9F0;

                span {
                    color: #80ED99;
                }
            }
        }

        .landing_img {
            width: 100%;
            text-align: center;
            padding: 0em 2em;
            img {
                width: 100%;
                height: 455px;
                object-position: 50% 5%;
                object-fit: cover;
            }
        }
    }
}

.about-me {
    z-index: 1; 
    // width: 100vw;
    height: 100vh;
    background-color: beige;
}

@media only screen and (max-width: 600px) {

    header {
        padding: 0;

        .nav-container {
            // padding: 2em 2em;
            
            .nav-holder_parent {
                .nav_logo {
                    img {
                        height: 15px;
                    }
                }

                .nav_btn {
                    button {
                        .nav_btn-menu {
                            width: 1.75em;
                            height: 1.75em;
                        }
                    }
                }
            }

            .nav-holder_child {
                .nav_menus {
                    grid-template-columns: repeat(1, 1fr);
                    gap: 0;

                    .nav_menu a {
                        justify-content: space-between;
                        align-items: center;

                        .nav_menu_no {
                            font-size: 2rem;
                        }
                        .nav_menu_txt {
                            font-size: 3rem;
                        }
                    }

                    .nav_menu:nth-child(1) {
                        order: 1;
                    }
                    .nav_menu:nth-child(2) {
                        order: 2;
                    }
                    .nav_menu:nth-child(3) {
                        order: 3;
                    }
                    .nav_menu:nth-child(4) {
                        order: 4;
                    }
                    .nav_menu:nth-child(5) {
                        order: 5;
                    }
                    .nav_menu:nth-child(6) {
                        order: 6;
                    }
                }
            }
        }
    }

    .landing {
        padding: 0em;
    
        .landing_container {
            border-right: 2px solid #E5E9F0;
            border-left: 2px solid #E5E9F0;
            height: 100vh;
            padding: 10em 0em 0em 0em;
    
            .landing-content_author {
                border-bottom: 2px solid #E5E9F0;
                padding: 0.5em 2em 2.5em 2em;
    
                .landing_author {
                    display: flex;
                    justify-content: space-between;
        
                    p {
                        color: #E5E9F0;
                        font-size: 1.25rem;
                        font-weight: 700;
                    }
                }
            }
    
            .landing_tagline {
                // border: 2px solid red;
                padding: 2.5em 0em 0em 0em;
    
                h1 {
                    margin: 0;
                    font-size: 6rem;
                    font-weight: 300;
                    text-align: center;
                    color: #E5E9F0;
    
                    span {
                        color: #80ED99;
                    }
                }
            }
    
            .landing_img {
                width: 100%;
                height: 100%;
                text-align: center;
                padding: 0em 2em;
                img {
                    width: 100%;
                    height: 50%;
                    object-position: 50% 5%;
                    object-fit: cover;
                }
            }
        }
    }
}